@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --primary-color: #356aff;
  --bg-color: #fff;
  --text-color: #000;
  --light-text-color: #a5a5a5;
  --body-bg-color: #f5f5f5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav{
	position: relative;
	margin: 0;
	width: 100%;
	height: 65px;
	background: #34495e;
	border-radius: 2px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
nav a{
	font-family: 'Open Sans',sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
  padding: 1px;
  padding-top: 5px;
  padding-bottom: 0; 
}
nav .animation{
	position: absolute;
	height: 100%;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	background: #1abc9c;
	border-radius: 8px;
	transition: all .5s ease 0s;
}

nav a:nth-child(2){
	width: 80px;
}
nav a:nth-child(2):hover~.animation{
	width: 80px;
	left: 1147px;
}
nav a:nth-child(3){
	width: 130px;
}
nav a:nth-child(3):hover~.animation{
	width: 110px;
	left: 1238px;
}
nav a:nth-child(4){
	width: 100px;
}
nav a:nth-child(4):hover~.animation{
	width: 100px;
	left: 1356px;
}
nav a:nth-child(5){
	width: 170px;
}
nav a:nth-child(5):hover~.animation{
	width: 160px;
	left: 1462px;
}
nav a:nth-child(6){
	width: 160px;
}
nav a:nth-child(6):hover~.animation{
	width: 150px;
	left: 1632px;
}
nav a:nth-child(7){
	width: 120px;
}
nav a:nth-child(7):hover~.animation{
	width: 120px;
	left: 1788px;
}

Main {
  display: block;
  width: 100%;
}

body {
  min-height: 100vh;
  display: block;
  /* align-items: center;
  justify-content: center; */
  background-color: var(--body-bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  background: url('/static/live_translation.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 100vh;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* A semi-transparent black overlay */
  z-index: -1; /* Place behind other content */
}

.container_parent {
  text-align: left;
  justify-content: center;
  background-size: 100%;
  width: 100%;
  display: flex;
  margin-top: 5%;
}

.container {
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}
.container .heading {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.container .options select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--light-text-color);
  border-radius: 5px;
  outline: none;
}
.container .options div:not(:last-child) select {
  margin-bottom: 20px;
}

.container .options p {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--light-text-color);
}
.container .line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: var(--light-text-color);
  opacity: 0.5;
  margin: 30px 0;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  height: 60px;
  padding: 20px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  background-color: var(--primary-color);
}
.btn ion-icon {
  font-size: 30px;
}
.btn:disabled {
  background-color: var(--light-text-color);
  cursor: not-allowed;
}
.container .record img {
  width: 30px;
  height: 30px;
  display: none;
}
.container .record.recording img {
  display: block;
}
.container .record.recording ion-icon {
  display: none;
}
.container .result {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid var(--light-text-color);
  border-radius: 5px;
  overflow-y: auto;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  justify-content: left;
  align-items: start;
  color: var(--text-color);
  background-color: #fff;
}
.container .result input {
  display: inline;
  margin-left: 3px;
  color: var(--light-text-color);
  overflow-y: scroll;
  justify-content: center;
  align-items: start;
}
.buttons {
  display: flex;
  gap: 20px;
}

.end {
	background-color: black;
	width: 100%;
	height: 60px;
    bottom: 0;
    position: fixed;
    
}
.end p {
	color: white;
	font-size: 19px;
	margin: 0;
	padding-top: 1%;
	padding-left: 36%;
}