/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #356aff;
  --bg-color: #fff;
  --text-color: #000;
  --light-text-color: #a5a5a5;
  --body-bg-color: #f5f5f5;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
h1 {
  margin-bottom: 10px;
  text-align: center;
  font-style: italic;
}
body{
  min-height: 100vh;
  display: block;
  /* align-items: center;
  justify-content: center; */
  background-color: var(--body-bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  background: url('/static/live_translation.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 100vh;

}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* A semi-transparent black overlay */
  z-index: -1; /* Place behind other content */
}
.container{
  max-width: 690px;
  width: 100%;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 7px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.01);
}
.wrapper{
  border-radius: 5px;
  border: 1px solid #ccc;
}
.wrapper .text-input{
  display: flex;
  border-bottom: 1px solid #ccc;
}
.text-input .to-text{
  border-radius: 0px;
  border-left: 1px solid #ccc;
}
.text-input textarea{
  height: 250px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  background: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
}
.text-input textarea::placeholder{
  color: #b7b6b6;
}
.controls, li, .icons, .icons i{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls{
  list-style: none;
  padding: 12px 15px;
}
.controls .row .icons{
  width: 38%;
}
.controls .row .icons i{
  width: 50px;
  color: #adadad;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease;
  justify-content: center;
}
.controls .row.from .icons{
  padding-right: 15px;
  border-right: 1px solid #ccc;
}
.controls .row.to .icons{
  padding-left: 15px;
  border-left: 1px solid #ccc;
}
.controls .row select{
  color: #333;
  border: none;
  outline: none;
  font-size: 18px;
  background: none;
  padding-left: 5px;
}
.text-input textarea::-webkit-scrollbar{
  width: 4px;
}
.controls .row select::-webkit-scrollbar{
  width: 8px;
}
.text-input textarea::-webkit-scrollbar-track,
.controls .row select::-webkit-scrollbar-track{
  background: #fff;
}
.text-input textarea::-webkit-scrollbar-thumb{
  background: #ddd;
  border-radius: 8px;
}
.controls .row select::-webkit-scrollbar-thumb{
  background: #999;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}
.controls .exchange{
  color: #adadad;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease;
}
.controls i:active{
  transform: scale(0.9);
}
.container button{
  width: 100%;
  padding: 14px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 5px;
  background: #5372F0;
}

@media (max-width: 660px){
  .container{
    padding: 20px;
  }
  .wrapper .text-input{
    flex-direction: column;
  }
  .text-input .to-text{
    border-left: 0px;
    border-top: 1px solid #ccc;
  }
  .text-input textarea{
    height: 200px;
  }
  .controls .row .icons{
    display: none;
  }
  .container button{
    padding: 13px;
    font-size: 16px;
  }
  .controls .row select{
    font-size: 16px;
  }
  .controls .exchange{
    font-size: 14px;
  }
}

.container_parent {
  text-align: left;
  justify-content: center;
  background-size: 100%;
  width: 100%;
  display: flex;
  margin-top: 5%;
}

nav{
	position: relative;
	margin: 0;
	width: 100%;
	height: 65px;
	background: #34495e;
	border-radius: 2px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
nav a{
	font-family: 'Open Sans',sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
  padding: 1px;
  padding-top: 5px;
  padding-bottom: 0; 
}
nav .animation{
	position: absolute;
	height: 100%;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	background: #1abc9c;
	border-radius: 8px;
	transition: all .5s ease 0s;
}

nav a:nth-child(2){
	width: 80px;
}
nav a:nth-child(2):hover~.animation{
	width: 80px;
	left: 1147px;
}
nav a:nth-child(3){
	width: 130px;
}
nav a:nth-child(3):hover~.animation{
	width: 110px;
	left: 1238px;
}
nav a:nth-child(4){
	width: 100px;
}
nav a:nth-child(4):hover~.animation{
	width: 100px;
	left: 1356px;
}
nav a:nth-child(5){
	width: 170px;
}
nav a:nth-child(5):hover~.animation{
	width: 160px;
	left: 1462px;
}
nav a:nth-child(6){
	width: 160px;
}
nav a:nth-child(6):hover~.animation{
	width: 150px;
	left: 1632px;
}
nav a:nth-child(7){
	width: 120px;
}
nav a:nth-child(7):hover~.animation{
	width: 120px;
	left: 1788px;
}

Main {
  display: block;
  width: 100%;
}

.end {
	background-color: black;
	width: 100%;
	height: 60px;
    bottom: 0;
    position: fixed;
    
}
.end p {
	color: white;
	font-size: 19px;
	margin: 0;
	padding-top: 1%;
	padding-left: 36%;
}